bin/
obj/

.idea/
*.sln.iml

.bin/Debug/net7.0

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/modules.xml
.idea/.idea.*

.idea/**/misc.xml
.idea/**/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.local/
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/libraries
.idea/**/jarRepositories.xml
.idea/**/modules.xml
.idea/**/markdown-navigator.xml
.idea/**/assetTags.xml
.idea/**/other.xml
.idea/**/angular.json
.idea/**/project_code_style.xml

.idea/.cache/
.idea/.markdown-navigator/
.idea/.temp/
*.user
*.lock.json
.vscode/
*.log
